%%-*- mode: erlang -*-
{deps, [
  {webmachine, "1.10.*", {git, "git://github.com/webmachine/webmachine", {branch, "develop"}}},
  {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", {branch, "master"}}},
{lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}},
{epgsql, ".*", {git, "git://github.com/epgsql/epgsql.git", {branch, "master"}}}
]}.

{erl_opts, [{parse_transform, lager_transform},
            fail_on_warning,
            debug_info
           ]}.

{relx, [{release, {'erlmars', "0.1.0"},
         ['erlmars',
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [
    {dev, [
        {deps, [
            {sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}}
        ]}
    ]},
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.
