[
  {'erlmars', [{web_ip, "0.0.0.0"},
                {web_port, 8080}]},
   {lager, [
           {log_root, "/var/log/erlmars"},
           {handlers, [
              {lager_console_backend, [info, {colored, true}]},
              {lager_file_backend, [{file, "error.log"}, {level, error}]},
              {lager_file_backend, [{file, "console.log"}, {level, info}]}
             ]}
          ]}
].
